html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #787878;
  height: 100vh;
  display: block;
}

h1 {
  background-color: #000000;
  color: #ffffff;
  display: block;
  border-top: none;
  border-bottom: none;
  padding: 8px;
  margin: 0;
}

.horizontal-menu {
  overflow: hidden;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.horizontal-menu a {
  background-color: #000000;
  float: left;
  color: #10a4a4;
  text-align: center;
  padding: 8px 20px;
  font-size: 18px;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

div#game-window {
  background-color: #ffffff;
  padding: 10px;
  margin: 0;
  height: 100%;
}

.horizontal-menu a:hover {
  background-color:#3f3f3f;
}
  
.horizontal-menu a.selected {
  background-color:#555555;
  color: #ffffff;
}

/* .hidden {
  visibility: hidden;
} */