html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vh;
  background-color: #787878;
  height: 100vh;
  display: block;
}

.title {
  display: flex;
  background-color: #000000;
  border-top: none;
  border-bottom: none;
  padding: 8px;
  margin: 0;
}

h1#title {
  color: #ffffff;
  padding: 8px;
  margin: 0;
}

span#current-user {
  color: #10a4a4;
  padding: 16px;
  margin: 0 20px;
  font-size: 18px;
}

.horizontal-menu {
  overflow: hidden;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.horizontal-menu a {
  background-color: #000000;
  float: left;
  color: #10a4a4;
  text-align: center;
  padding: 8px 20px;
  font-size: 18px;
  height: 100%;
  margin: 0;
  cursor: pointer;
  transition-duration: 0.3s;
}

.horizontal-menu a:hover {
  background-color:#3f3f3f;
}
  
.horizontal-menu a.selected {
  background-color:#555555;
  color: #ffffff;
}

/* CSS Styling for elements in game-window container */
div#game-window, div#game-info {
  display: table-cell;
  border: 3px solid;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  height: 80vh;
}

div#game-window {
  width: 80vh;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#overlay-text {
  position: absolute;
  top: 50%;
  left: 38vh;
  font-size: 150px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
}

form {
  text-align: center;
  padding: 100px;
}

input#user-input {
  border-width: thick;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  align-self: auto;
  padding: 0 10px;
  margin: 3px 3px;
}

.col-4 {
  width: calc(55vh/4);
  height: calc(55vh/4);
}
.col-6 {
  width: calc(48vh/6);
  height: calc(48vh/6);
}
.col-8 {
  width: calc(40vh/8);
  height: calc(40vh/8);
}

.card {
  box-shadow: 0 4px 8px 0 #00000033;
  padding: 16px;
  text-align: center;
  border: 1px solid;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.brown {
  background-color: rgb(108, 33, 33);
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.red-blue {
  position: relative;
  z-index: 0;
  background-color: blue;
}
.red-blue:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 30%;
  bottom: 0;
  left: 0;
  background-color: red;
}
.blue-green {
  position: relative;
  z-index: 0;
  background-color: green;
}
.blue-green:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 30%;
  bottom: 0;
  left: 0;
  background-color: blue;
}
.green-yellow {
  position: relative;
  z-index: 0;
  background-color: yellow;
}
.green-yellow:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 30%;
  bottom: 0;
  left: 0;
  background-color: green;
}
.yellow-brown {
  position: relative;
  z-index: 0;
  background-color: brown;
}
.yellow-brown:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 30%;
  bottom: 0;
  left: 0;
  background-color: yellow;
}
.brown-pink {
  position: relative;
  z-index: 0;
  background-color: pink;
}
.brown-pink:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 30%;
  bottom: 0;
  left: 0;
  background-color: brown;
}
.black-purple {
  position: relative;
  z-index: 0;
  background-color: purple;
}
.black-purple:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30%;
  bottom: 0;
  left: 0;
  background-color: black;
}
.black-white {
  position: relative;
  z-index: 0;
  background-color: white;
}
.black-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30%;
  bottom: 0;
  left: 0;
  background-color: black;
}
.white-purple {
  position: relative;
  z-index: 0;
  background-color: purple;
}
.white-purple:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30%;
  bottom: 0;
  left: 0;
  background-color: white;
}
.black-pink {
  position: relative;
  z-index: 0;
  background-color: pink;
}
.black-pink:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30%;
  bottom: 0;
  left: 0;
  background-color: black;
}

.A {background-color: pink;}
.A:before {
  content: "A";
  font-size: 200%;
  font-weight: 900;
}
.B {background-color: yellow;}
.B:before {
  content: "B";
  font-size: 200%;
  font-weight: 900;
}
.C {background-color: red;}
.C:before {
  content: "C";
  font-size: 200%;
  font-weight: 900;
}
.D {background-color: green;}
.D:before {
  content: "D";
  font-size: 200%;
  font-weight: 900;
}
.E {background-color: purple;}
.E:before {
  content: "E";
  font-size: 200%;
  font-weight: 900;
}
.F {background-color: yellow;}
.F:before {
  content: "F";
  font-size: 200%;
  font-weight: 900;
}
.G {background-color: rgb(116, 37, 37);}
.G:before {
  content: "G";
  font-size: 200%;
  font-weight: 900;
}
.H {background-color: white;}
.H:before {
  content: "H";
  font-size: 200%;
  font-weight: 900;
}
.I {background-color: yellow;}
.I:before {
  content: "I";
  font-size: 200%;
  font-weight: 900;
}
.J {background-color: red;}
.J:before {
  content: "J";
  font-size: 200%;
  font-weight: 900;
}
.K {background-color: green;}
.K:before {
  content: "K";
  font-size: 200%;
  font-weight: 900;
}
.L {background-color: blue;}
.L:before {
  content: "L";
  font-size: 200%;
  font-weight: 900;
}
.M {background-color: purple;}
.M:before {
  content: "M";
  font-size: 200%;
  font-weight: 900; 
}
.N {background-color: white;}
.N:before {
  content: "N";
  font-size: 200%;
  font-weight: 900;
}

.enable {
  cursor: pointer;
  transition-duration: 0.3s;
}

.facedown {
  background-color: grey;
  font-size: 0px;
  z-index: 5;
}

.facedown:before {
  background-color: grey;
  z-index: 5;
}

/* CSS Styling for elements in game-info container */
div#game-info {
  width: 20vh;
}

.welcome, .message {
  text-align: center;
  vertical-align: middle;
  color:#10a4a4;
  text-shadow: -1.0px -1.0px 0 #000000, 1.0px -1.0px 0 #000000, -1.0px 1.0px 0 #000000, 1.0px 1.0px 0 #000000;
  -webkit-font-smoothing: antialiased;
}

/* CSS Styling for General HTML Elements */
button {
  background-color: #10a4a4;
  border: none;
  color: white;
  display: block;
  text-align: center;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 8px;
  transition-duration: 0.3s;
  width: 110px;
  height: 60px;
  margin: 30px auto;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

table {
  border: 3px solid #000000; 
  text-align: center;
  width: 75%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid #000000; 
}

th {
  height: 25px;
  background-color: #10a4a4;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.hidden {
  visibility: hidden;
}