html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vh;
  background-color: #787878;
  height: 100vh;
  display: block;
}

h1#title {
  background-color: #000000;
  color: #ffffff;
  display: block;
  border-top: none;
  border-bottom: none;
  padding: 8px;
  margin: 0;
}

.horizontal-menu {
  overflow: hidden;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.horizontal-menu a {
  background-color: #000000;
  float: left;
  color: #10a4a4;
  text-align: center;
  padding: 8px 20px;
  font-size: 18px;
  height: 100%;
  margin: 0;
  cursor: pointer;
  transition-duration: 0.3s;
}

.horizontal-menu a:hover {
  background-color:#3f3f3f;
}
  
.horizontal-menu a.selected {
  background-color:#555555;
  color: #ffffff;
}

div#game-window, div#game-info {
  display: table-cell;
  border: 3px solid;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  height: 80vh;
}

div#game-window {
  width: 80vh;
}

div#game-info {
  width: 20vh;
}

h2.welcome {
  text-align: center;
  vertical-align: middle;
  color:#a65353
}

button {
  background-color: #10a4a4;
  border: none;
  color: white;
  display: block;
  text-align: center;
  border: 3px solid #000000;
  padding: 20px;
  border-radius: 8px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* .hidden {
  visibility: hidden;
} */